html {
    font-size: 20px;
    background-color: white;
    position: relative;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    background-color: #0d1012;
    overflow: hidden;
}

:root {
    --transition: .2s cubic-bezier(.2, .6, 0, 1);
}

.main {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 70px;
    z-index: 1;
}

.app-title {
    margin: 0 auto;
    width: fit-content;
    background: linear-gradient(90deg, #ff3e9f,#fc4e00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.new-do-input {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.new-do-input-text {
    width: 80%;
    height: 50px;
    font-size: 18px;
    margin-right: 5px;
    border-radius: 7px;
    border: 2px solid #ff3e9f;
    outline: none;
    transition: .4s;
}

    .new-do-input-text:focus {
        box-shadow: 0px 0px 27px 3px rgba(255, 62, 159, 0.2);
    }

.new-do-input-submit {
    width: 20%;
    color: white;
    background-color: aqua;
    font-weight: 800;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    background: linear-gradient(27deg, #ff3e9f,#fc4e00);
}

    .new-do-input-submit:hover {
        cursor: pointer;
    }

.form-container {
    display: flex;
    flex-direction: row;
    background-color: #40484f;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ff3e9f;
    transform: translateY(10vh);
    opacity: 0;
}

    .form-container.appeared {
        transform: translateY(0vh);
        opacity: 1;
        transition: transform var(--transition), opacity var(--transition);
        transition-duration: 3s;
    }

.task {
    display: flex;
    flex-direction: row;
    width: 95%;
}


.task-desc {
    width: 100%;
    border: none;
    padding: 5px 0;
    background-color: #40484f;
    font-size: 18px;
    font-weight: 100;
    color: white;
    outline: none;
}


.task input[type=submit], .task-del input[type=submit] {
    width: 30px;
    margin-left: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    height: 31px;
}

input[type=submit] {
    cursor: pointer;
    font-weight: 600;
}

.edit-btn {
    background-color: lawngreen;
}

.delete-btn {
    background-color: red;
}

.color_one {
    height: 60vh;
    width: 40vw;
    background-color: #ff3e9f;
    position: absolute;
    top: -10vh;
    left: -15vw;
    z-index: -1;
    filter: blur(240px);
    border-radius: 100px;
}

.color_two {
    height: 60vh;
    width: 40vw;
    background-color: #fc4e00;
    position: absolute;
    bottom: -10vh;
    right: -15vw;
    z-index: -1;
    filter: blur(240px);
    border-radius: 100px;
}